/* Global */
:root {
    --main-bg-color: #f9f9f9;
    --shadow-color: rgba(0,0,0,0.1);
    --white-color: white;
    --white-tranparent-color: rgba(255,255,255,0.7);
    --white-light-transparent-color: rgba(216,216,216,0.15);
    --orange-color: #fa7035;
    --grey-color: #828282;
    --grey-light-color: #f2f2f2;
    --gradient-purple-color: linear-gradient(to top right, #1D1237, #523E8E);

    --font-large-size: 4rem;
    --font-medium-size: 1.5rem;
    --font-normal-size: 1rem;
    --font-small-size: .5rem;

    --font-large-weight: 700;
    --font-medium-weight: 600;
    --font-normal-weight: 500;
    --font-small-weight: 400;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100vh;
    background-color: var(--main-bg-color);
    font-family: "Source Sans Pro", sans-serif;
}
section {
    padding: 0 5rem;
    min-height: 39rem;
    max-height: 45rem;
}
/* End Global */

/* Header */
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    background-color: var(--white-color);
    height: 3.7rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 5rem;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.navbar a {
    text-decoration: none;
}
.navbar .navbar-left{
    align-self: center;
    padding-left: 1.25rem;
}
.navbar .navbar-left .gitlab-logo{
    /*  Harusnya gak usah pakai ini, kalo ukuran width logo ngikutin parentnya atau 100%  */
    width: 8.2rem;
}
.navbar .navbar-right ul{
    display: flex;
    margin: 0;
    align-items: center;
    list-style-type: none;
    height: 100%;
}
.navbar .navbar-right ul li a:not(.right-side){
    color: var(--grey-color);
    /*  Harusnya gak ada padding top kalo ukurannya ngikutin parent  */
    padding: 1rem;
}
.navbar .navbar-right ul li a.right-side{
    padding: 1rem 10px;
    font-weight: 600;
}
.navbar .navbar-right ul li a:hover{
    background-color: var(--grey-light-color);
    border-radius: 3px;
    color: #548 !important;
}
/* End Header */

/* Section 1 */
.section-1{
    background: var(--gradient-purple-color); 
    height: 100vh;
    padding-top: 7.5rem;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    position: relative;
}
.section-1 div {
    z-index: 9;
}
.section-1 p {
    font-size: var(--font-medium-size);
    line-height: 1.5;
    max-width: 35rem;
}
.section-1 a {
    text-decoration: none;
}
.section-1 a span{
    color: var(--white-tranparent-color);
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--white-tranparent-color);
}
.section-1 a img {
    width: 15.7rem;
    margin: 1rem;
}
.section-1 .section-1-left{
    text-align: left;
}
.section-1 .bold-headline {
    font-size: var(--font-large-size);
    font-weight: 700;
    margin: 2.3rem 0 0 0;
}
.section-1 .button-container {
    margin-top: 2.5rem;
}
.btn {
    width: 12rem;
    height: 3.5rem;
    border-radius: 4px;
    border-width: 0;
    font-size: var(--font-normal-size);
    cursor: pointer;
}
.btn:hover {
    opacity: .9;
}
.primary {
    background-color: var(--orange-color);
    color: var(--white-color);
}
.light {
    background-color: var(--white-color);
    color: var(--orange-color);
    margin-left: 1.3rem;
}
.light .fas {
    margin-right: 0.8rem;
}
.circle {
    width: 300px;
    height: 300px;
    background: var(--white-light-transparent-color);
}
.circle, .circle:before, .circle:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;*/
}
.circle:before {
    content: '';
    width: 150px;
    height: 150px;
    background: var(--white-light-transparent-color);
}
.circle:after {
    content: '';
    width: 450px;
    height: 450px;
    background: var(--white-light-transparent-color);
}
/* End Section 1 */

/* Section 2 */
.section-2 .header-section-2 {
    position: relative;
    margin: 0 auto;
    width: 65%;
    margin-top: -2.2rem;
    border-radius: 4px;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--white-color);
    border: 2px solid var(--orange-color);
    box-shadow: 0 .6rem 1.25rem var(--shadow-color);
    font-size: var(--font-medium-size);
    font-weight: 700;
}
/* End Section 2 */