/* Global */
:root {
    --main-bg-color: #f9f9f9;
    --shadow-color: rgba(0,0,0,0.1);
    --black-color: #333;
    --black-transparent-color: rgba(28,22,53,0.75);
    --purple-color: #3f3177;
    --white-color: white;
    --white-tranparent-color: rgba(255,255,255,0.7);
    --white-light-transparent-color: rgba(216,216,216,0.15);
    --orange-color: #fa7035;
    --grey-color: #828282;
    --grey-light-color: #f2f2f2;
    --gradient-purple-color: linear-gradient(to top right, #1D1237, #523E8E);

    --font-large-size: 3.9rem;
    --font-medium-large-size: 2.12rem;
    --font-medium-size: 1.5rem;
    --font-normal-medium-size: 1.25rem;
    --font-normal-size: 1.12rem;
    --font-small-normal-size: 1rem;
    --font-small-size: .5rem;
    
    --font-large-weight: 700;
    --font-medium-weight: 600;
    --font-normal-weight: 500;
    --font-small-weight: 400;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background-color: var(--main-bg-color);
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    color: var(--black-color);
    font-size: var(--font-normal-size);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}
h2 {
    font-size: var(--font-medium-large-size);
}
a {
    text-decoration: none;
}
section {
    padding: 0 4rem;
}
/* End Global */

/* Header */
.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    background-color: var(--white-color);
    height: 3.7rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0 5rem;
    box-shadow: 0 2px 4px var(--shadow-color);
}
.navbar a {
    font-size: var(--font-small-normal-size);
}
.navbar .navbar-left{
    align-self: center;
    padding-left: 1.25rem;
}
.navbar .navbar-left .gitlab-logo{
    /*  Harusnya gak usah pakai ini, kalo ukuran width logo ngikutin parentnya atau 100%  */
    width: 8.2rem;
}
.navbar .navbar-right ul{
    display: flex;
    margin: 0;
    align-items: center;
    list-style-type: none;
    height: 100%;
    justify-content: flex-end;   
}
.navbar .navbar-right ul li a:not(.right-side){
    color: var(--grey-color);
    /*  Harusnya gak ada padding top kalo ukurannya ngikutin parent  */
    padding: 1rem 1.25rem;
}
.navbar .navbar-right ul li a.right-side{
    padding: 1rem 10px;
    font-weight: 600;
}
.navbar .navbar-right ul li a:hover{
    background-color: var(--grey-light-color);
    border-radius: 3px;
    color: #548 !important;
}
/* End Header */

/* Section 1 */
.section-1{
    background: var(--gradient-purple-color); 
    height: 100vh;
    min-height: 38rem;
    max-height: 39rem;
    padding: 6.5rem 5rem;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: center;
    position: relative;
}
.section-1 div {
    z-index: 9;
}
.section-1 p {
    font-size: var(--font-medium-size);
    max-width: 35rem;
}
.section-1 a span{
    color: var(--white-tranparent-color);
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--white-tranparent-color);
}
.section-1 a img {
    width: 15.7rem;
    margin: 2rem 2rem 1rem 2rem;
}
.section-1 .section-1-left{
    text-align: left;
}
.section-1 .bold-headline {
    font-size: var(--font-large-size);
    font-weight: 700;
    margin: 4rem 0 1rem 0;
}
.section-1 .button-container {
    margin-top: 2.5rem;
}
.btn {
    width: 12rem;
    height: 3.5rem;
    border-radius: 4px;
    border-width: 0;
    font-size: var(--font-normal-size);
    cursor: pointer;
}
.btn:hover {
    opacity: .9;
}
.primary {
    background-color: var(--orange-color);
    color: var(--white-color);
}
.light {
    background-color: var(--white-color);
    color: var(--orange-color);
    margin-left: 1.3rem;
}
.light .fas {
    margin-right: 0.8rem;
}
.circle {
    width: 300px;
    height: 300px;
    background: var(--white-light-transparent-color);
}
.circle, .circle:before, .circle:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;*/
}
.circle:before {
    content: '';
    width: 150px;
    height: 150px;
    background: var(--white-light-transparent-color);
}
.circle:after {
    content: '';
    width: 450px;
    height: 450px;
    background: var(--white-light-transparent-color);
}
/* End Section 1 */

/* Section 2 */
.section-2 .header-section-2 {
    position: relative;
    margin: 0 auto;
    width: 65%;
    margin-top: -2.2rem;
    border-radius: 4px;
    text-align: center;
    padding: 1.25rem;
    background-color: var(--white-color);
    border: 2px solid var(--orange-color);
    box-shadow: 0 .6rem 1.25rem var(--shadow-color);
    font-size: var(--font-medium-size);
    font-weight: 700;
}
.section-2 .card-group {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.9rem;
}
.section-2 .card-group .card {
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--white-color);
    box-shadow: 0 .6rem 1.25rem var(--shadow-color);
}
.section-2 .card-group .card .card-image {
    background: url(../images/data-servers.jpg) no-repeat center center / cover;
    position: relative;
    color: var(--white-color);
    font-size: var(--font-medium-size);
    font-weight: var(--font-large-weight);
    padding-bottom: 56.25%;
}
.section-2 .card-group .card .card-image.speed {
    background: url(../images/data.png) no-repeat center center / cover;
}
.section-2 .card-group .card .card-image.security {
    background: url(../images/lock.jpg) no-repeat center center / cover;
}
.section-2 .card-group .card .card-image:before {
    background: var(--black-transparent-color);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.section-2 .card-group .card .card-image .card-image-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.section-2 .card-group .card .card-heading {
    margin: 1.9rem 1.9rem 1.5rem;
    font-size: var(--font-medium-size);
}
.section-2 .card-group .card .card-text {
    font-size: 1.125rem;
    margin: 0 1.9rem .9rem 1.9rem;
}
.section-2 .card-group .card .card-link {
    margin: 0 1.9rem 1.9rem 1.9rem;
}
.section-2 .client-group {
    margin-top: 6.25rem;
}
.section-2 .client-group .logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.25rem 3.12rem 4.4rem;
}
.section-2 .client-group p{
    text-align: center;
    color: var(--grey-color);
    font-size: var(--font-normal-medium-size);
}
.logos a img {
    height: 3.12rem;
    max-width: 6.9rem;
    padding: 1.25rem;
    box-sizing: content-box;
    opacity: .4;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}
.logos a img:hover {
    opacity: 1;
}
/* End Section 2 */

/* Section 3 */
.section-3 {
    background: var(--purple-color);
    color: var(--white-color);
}
.section-3 .header-section-3 {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 .header-section-3 h2, .header-section-3 p {
    margin-bottom: .9rem;
}
.header-section-3 p, .header-section-3 a {
    color: var(--white-tranparent-color);
}
.section-3 .header-section-3 .btn, .header-section-3 a {
    margin-top: 1.25rem;
}
.header-section-3 a {
    text-decoration: underline;
}
.header-section-3 a:hover {
    color: var(--white-color);
}
/* End Section 3 */